.DS_Store
.idea
*.log
tmp/

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.cpcache


.clj-kondo/
.cpcache/
.nrepl-port/

node_modules/
client/node_modules/

client/public/js/
client/.shadow-cljs/

.target/
target/

.DS_Store
